name: 'CI/CD PRU Pipeline'

on:
  workflow_dispatch:
    inputs:
      client_id:
        description: "Client ID"
        required: true
        type: string
      client_secret:
        description: "Client Secret"
        required: true
        type: string
      region:
        description: "Genesys cloud region"
        required: true
        type: choice
        options:
          - mypurecloud.jp
          - us-east-1
          - us-west-2
          - eu-west-1

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest  # Change if using a specific self-hosted runner

    env:
      GENESYSCLOUD_OAUTHCLIENT_ID: ${{ inputs.client_id }}
      GENESYSCLOUD_OAUTHCLIENT_SECRET: ${{ inputs.client_secret }}
      GENESYSCLOUD_REGION: ${{ inputs.region }}
      environment: stage

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Terraform Init
      run: terraform init

    - name: Terraform Format
      run: terraform fmt

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan

    - name: Terraform apply
      run: terraform apply -auto-approve 
